
.row {
  max-width: 1170px;
  margin: 0 auto;
}

.menu {
  height: 200px;
  background-color: #237db9;
  border: 1px solid skyblue;
  float: left;
}

.top {
  height: 350px;
  background-color: #14aa96;
}

.boxcontent {
  height: 500px;
  background-color: #f09b14;
  border: 1px solid gold;
  float: left;
}

.bottom {
  background-color: #237db9;
}

.ibox {
  height: 250px;
  background-color: #be392b;
  float: left;
  margin: 10px;
}
